h1.subpageheader {
	font-size: 35px;
}
h2.subtitle {
	font-size: 20px;
}
p {
	font-size: 16px;
}
a {
	white-space: wrap;
	text-decoration: none;
	color: #478DFF;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #4527A5;
}